.col-lg-12
  .alert.alert-block.alert-danger
    %strong Внимание!
    Редактируйте эти поля, только если знаете что делаете! Это прямо влияет на ранжирование сайта в поисковых системах!

  .alert.alert-info
    %strong К сведению!
    Поля
    %i ссылка
    и
    %i meta заголовок
    можно оставлять пустыми. Они всегда генерируются автоматически если не указано иное!

  .col-md-12{style: 'padding-bottom: 15px;'}
    %header.panel-heading Пример
    = image_tag 'examples/seo-example.png'

  .col-md-6.form-group
    = f.label 'Ссылка'
    = f.text_field :slug, class: 'form-control', placeholder: 'ссылка'
    %span.help-block{style: 'padding-left: 15px;font-style: italic;font-size: small;'}
      = 'Например: portugalija'

  .col-md-6.form-group
    = f.label 'meta заголовок'
    = f.text_field :meta_title, maxlength: 50, class: 'form-control', placeholder: 'meta заголовок'
    %span.help-block{style: 'padding-left: 15px;font-style: italic;font-size: small;'}
      = 'Например: Туры в Португалию'

  .col-md-6.form-group
    = f.label 'meta описание'
    = f.text_area :meta_description, rows: 4, class: 'form-control', placeholder: 'meta описание'
    %span.help-block{style: 'padding-left: 15px;font-style: italic;font-size: small;'}
      = 'Например: Наша Португалия - не туристическая, она...'

  .col-md-6.form-group
    = f.label 'meta ключевые слова'
    = f.text_area :meta_keywords, rows: 4, class: 'form-control', placeholder: 'ключевые слова (через запятую)'
    %span.help-block{style: 'padding-left: 15px;font-style: italic;font-size: small;'}
      = 'Например: туры, туризм, португалия...'