%aside.left-side.sidebar-offcanvas
  / sidebar: style can be found in sidebar.less
  %section.sidebar
    / Sidebar user panel
    .user-panel
      .pull-left.info
        %p{style: 'float:left; padding-right:7px;'}
          = Time.now.to_date.strftime('%d.%m.%Y')
        %p#live_time{style: 'float:left;'}
        %p
          = l Date.today, format: '%A'

    / sidebar menu: : style can be found in sidebar.less
    %ul.sidebar-menu
      %li{class: "#{'active' if current_page?(dashboard_path)}", style: 'border-top: 1px solid #565555;' }
        = link_to dashboard_path do
          %i.fa.fa-dashboard
          %span Панель управления
      %li{class: "#{'active' if request.fullpath.include?('orders')}" }
        = link_to dashboard_orders_path do
          %i.fa.fa-money
          %span Заказы
      %li{class: "#{'active' if request.fullpath.include?('reviews')}", style: 'border-bottom: 1px solid #565555;' }
        = link_to dashboard_reviews_path do
          %i.fa.fa-star
          %span Отзывы
      %li{class: "#{'active' if request.fullpath.include?('countries')}" }
        = link_to dashboard_countries_path do
          %i.fa.fa-globe
          %span Страны
      %li{class: "#{'active' if request.fullpath.include?('categories')}" }
        = link_to dashboard_categories_path do
          %i.fa.fa-folder
          %span Категории
      %li{class: "#{'active' if request.fullpath.include?('hotels')}" }
        = link_to dashboard_hotels_path do
          %i.fa.fa-home
          %span Отели
      %li{class: "#{'active' if request.fullpath.include?('tours') && !request.fullpath.include?('spec')}" }
        = link_to dashboard_tours_path do
          %i.fa.fa-plane
          %span Туры
      %li{class: "#{'active' if request.fullpath.include?('special_tours')}" }
        = link_to dashboard_special_tours_path do
          %i.fa.fa-plane
          %span Специальные туры
      %li{class: "#{'active' if request.fullpath.include?('pages')}" }
        = link_to dashboard_pages_path do
          %i.fa.fa-newspaper-o
          %span Страницы
    %div{style: 'position: relative;margin-top: 100px; bottom: 50px; left: 10px; width: 100%; '}
      = link_to 'К сайту', root_path, class: 'btn btn-success', target: '_blank',
        style: 'border-radius: 0;box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.54);padding: 10px 75px;'
