.col-md-12
  %section.panel.general
    %header.panel-heading.tab-bg-dark-navy-blue
      %ul.nav.nav-tabs
        %li.active
          %a{'data-toggle': 'tab', href: '#main'} Основная информация
        %li
          %a{'data-toggle': 'tab', href: '#four_causes'} Почему нас выбирают
    .panel-body
      = nested_form_for [:dashboard, @about] do |f|
        .tab-content
          #main.tab-pane.active
            - if @about.errors.any?
              .alert.alert-block.alert-danger
                %strong Внимание!
                - @about.errors.messages.each_with_index do |error, index|
                  = "#{index+1}) #{error[1].join}"
                  %br
            .col-md-3.form-group
              = f.label :info_email, 'Email для клиентов'
              = f.text_field :info_email, class: 'form-control', placeholder: 'Email для клиентов'
            .col-md-3.form-group
              = f.label :order_email, 'Email для заказов'
              = f.text_field :order_email, class: 'form-control', placeholder: 'Email для заказов'
            .col-md-3.form-group
              = f.label :subscribe_email, 'Email для подписок'
              = f.text_field :subscribe_email, class: 'form-control', placeholder: 'Email для заказов'
            .col-md-3.form-group
              = f.label :phone, 'Телефон'
              = f.text_field :phone, class: 'form-control', placeholder: 'Телефон'
              %span.help-block{style: 'padding-left: 15px;font-style: italic;font-size: small;'}
                = 'Пример: +375 (29) 662-19-09'
            .col-md-8.form-group
              = f.label :address, 'Адрес'
              = f.text_field :address, class: 'form-control', placeholder: 'Адрес'
            .col-md-3.col-md-offset-1.form-group
              = f.label :unp, 'УНП'
              = f.text_field :unp, class: 'form-control', placeholder: 'УНП компании'
            .col-md-8.form-group
              = f.label :map_link, 'Ссылка на карту'
              = f.text_field :map_link, class: 'form-control', placeholder: 'Карта с указанием офиса'
            .col-md-4.form-group
              = f.label :facebook, 'Ссылка на страницу в Facebook'
              = f.text_field :facebook, class: 'form-control', placeholder: 'Ссылка на страницу в Facebook'
            .col-md-12.form-group
              = f.label :requisites, 'Реквизиты компании'
              = f.text_area :requisites, class: 'form-control', placeholder: 'Реквизиты компании', rows: 10

          #four_causes.tab-pane
            #causes.col-md-12
              = f.fields_for :why_us_causes do |causes_builder|
                .row{style: 'padding-bottom: 25px; border-bottom: 1px solid #D4D2D2;padding-top: 20px;'}
                  .col-md-4.form-group{style: 'max-height: 180px; overflow: hidden;'}
                    = image_tag causes_builder.object.image(:preview), width: 400
                  .col-md-3.form-group
                    = causes_builder.label 'Изображение'
                    = causes_builder.file_field :image
                    %span.help-block{style: 'font-style: italic;font-size: small;'}
                      = 'Картинка должна быть шириной 204px'
                    %br
                    - if action_name == 'edit'
                      %p
                        %label
                          = causes_builder.check_box :remove_image, class: 'icheck'
                          Удалить картинку
                        %span.help-block{style: 'font-style: italic;font-size: small;'}
                          = 'Поставьте галку и сохраните для сброса изображения'
                  .col-md-5
                    .form-group
                      = causes_builder.label 'Заголовок'
                      = causes_builder.text_field :title, class: 'form-control', placeholder: 'Заголовок'
                    .form-group
                      = causes_builder.label :description, 'Текст'
                      = causes_builder.text_area :description, class: 'form-control', placeholder: 'Текст', rows: 6
                  .col-md-3{style: 'margin-top: -35px;'}
                    = causes_builder.link_to_remove 'Удалить причину', class: 'btn btn-danger'

            .row
              .col-md-2.col-md-offset-10{style: 'padding-top: 15px;'}
                = f.link_to_add 'Добавить причину', :why_us_causes, class: 'btn btn-success add_nested_why_us_fields',
                  data: { target: '#causes' }
        .col-md-12.form-group
          = f.submit 'Сохранить информацию!', class: 'btn btn-info'