= render 'dashboard/pages/meta', page: @country

#contentWrapperWrapper.main-container
  #contentWrapper.section.main{:role => 'main'}
    .contentArea.contentAreaC
      .module.margin-collapse.display
        %h1{:style => 'font-size: 1.4375em;'}
          %a{:href => '#', :title => ''}
            = @country.title
      .module.divider-divider-variable.divider-variable{:style => 'height: 15px;'}
      .module.alignleft.text-left.box.callToAction{style: "background-color: #{@country.background_color};"}
        = raw @country.description
      .module.divider-divider-variable.divider-variable{:style => 'height: 10px;'}

    - @country.tours.each do |tour|
      .contentArea.contentAreaD{style: 'padding: 0 2.625em 0 0.875em;'}
        .module.margin-collapse.htmlModule.separate_line1
          :css
            hr {
             border: none;
             background-color: #626262;
             height: 2px;
             width: 140%;
            }
            a{
               color:#006384;
            }
          %hr/
        .module.divider-divider-variable.divider-variable{:style => 'height: 10px;'}
        %h2.module.margin-collapse.h2
          = link_to tour.name, show_tour_path(slug: tour.slug)
        .module.divider-divider-variable.divider-variable{:style => 'height: 10px;'}
        .module.divider-divider-variable.divider-variable{:style => 'height: 10px;'}
        .module.margin-collapse.h4.preamble
          %p
            %span{:style => 'color:#FF8C00;font-size:18px;'}
              %strong
                = 'Регион: '
              = "#{@country.region}, #{@country.name}"
              = "#{', ' + tour.city if tour.city.present?}"
        .module.divider-divider-variable.divider-variable{:style => 'height: 10px;'}
        .module.margin-collapse.divider-dotted.dotted
        %article.module.margin-collapse.text{style: 'min-height:330px;'}
          - if tour.route.present?
            %p
              %strong{style: 'line-height: 20.7999992370605px;'}
                Маршрут:
              = tour.route
            %br
          %p
            %span{:style => 'color:#000000;font-size:14px;'}
              %strong Описание:
              = raw tour.description
            %br
          .groups
            - if tour.group_tour && tour.departures.present?
              %span{:style => 'font-size: 14px;color:black;'} Статус тура:
              %br
              - tour.departures.each do |departure|
                %strong
                  %span{:style => 'font-size: 14px;padding-left: 20px;'}
                    Вылет из
                    = departure.from
                - departure.travel_groups.each do |travel_group|
                  %table#table{border: '1', cellpadding: '0', cellspacing: '0', style: 'width: 70%;border: 2px white; '}
                    %tbody
                      %tr
                        %td{:style => 'background-color: rgb(255, 255, 255);padding-left: 20px;width: 30%;'}
                          %span{:style => 'color:#000000;font-size:12px;'}
                            = l travel_group.start_date.to_date, format: '%e %B'
                        %td{:style => 'background-color: rgb(255, 255, 255);'}
                          %span{:style => 'line-height: 16px;color:#000000;font-size:12px;'}
                            –
                        %td{style: 'width: 30%;'}
                          %span{:style => 'color:#000000;font-size:12px;line-height: 20.7999992370605px;'}
                            = l travel_group.finish_date.to_date, format: '%e %B'
                        = check_travel_group(travel_group)
            - if !tour.group_tour
              %h3
                %strong
                  %span{:style => 'color:#000000;font-size:14px;'}
                    - tour.departures.each do |departure|
                      - @dates = departure.travel_groups.map(&:start_date).map {|x| l x.to_date, format: '%d %B'}.join(', ')
                      = "Даты путешествия из #{departure.from}: #{@dates}"
                      %br/

              = render 'dashboard/calendars/calendar', tour: tour
      .contentArea.contentAreaB
        .module.divider-divider-variable.divider-variable{:style => 'height: 35px;'}
        = link_to show_tour_path(slug: tour.slug) do
          = image_tag tour.image(:average), width: 204, 'max-height': 203, overflow: 'hidden', class: 'module margin-collapse image'
        .module.spotcall
          .textbox
            %p{:style => 'text-align: center;'}
              %span{:style => 'font-size: 14px;'}
                %font{:color => '#ffffff', style: 'float: left;'} Стоимость:
                %span{:style => 'color:#FFA500;float: right;'}
                  %strong
                    = show_bel_price(tour)
                %br
                %span{:style => 'color:#FFA500;padding-left: 80px;float: right;'}
                  %strong
                    = show_price(tour)
              %br/
              %span{:style => 'color:#FFFFFF;'}
                %span{style: 'margin-bottom: 10px;border-bottom: 1px dotted white;padding-bottom: 10px;float: left;text-align: center;width: 100%;line-height: 20.7999992370605px; text-align: -webkit-center; color: rgb(255, 255, 255);'}
                %br/
                %span{:style => 'font-size: 14px; line-height: 17.6000003814697px;'}
                  = tour.days
          = link_to 'Подробнее', show_tour_path(slug: tour.slug), class: 'btn btn-large piwik_ignore',
            'data-track-action': 'spotBoxWithButton', 'data-track-event': 'click'
        .module.margin-collapse.htmlModule.separate_line2
          :css
            hr {
             border: none;
             background-color: #626262;
             height: 2px;
             width: 100%;
            }
            a{
               color:#006384;
            }
          %hr/