%li.list-group-item{style: '    height: 121px;'}
  = link_to dashboard_travel_day_image_path(@travel_day_image), method: :delete, class: 'close close-sm', id: 'destroy_travel_day_image',
              remote: true, data: {confirm: 'Вы уверены?'} do
    %i.fa.fa-times
  = image_tag @travel_day_image.uploaded_file(:travel_day_image), width: 100
  .input-group.input-group-sm.pull-right{style: 'width: 150px;clear:both;padding-bottom:3px;margin-right: 20px;margin-top: -13px;'}
    %span.input-group-addon#basic-addon3
      220 x ... &nbsp;&nbsp;
    %span.input-group-btn
      %button.btn.btn-white.to_clipboard{'data-toggle': 'tooltip', :title => 'Копировать в буфер!', 'data-clipboard-binder': '', 'data-clipboard-text': "#{image_path @travel_day_image.uploaded_file(:travel_day_image)}", 'data-clipboard-action': 'copy'}
        %i.fa.fa-paperclip{alt: 'Скопировать в буфер'}
  .input-group.input-group-sm.pull-right{style: 'width: 150px;clear:both;padding-bottom:3px;margin-right: 20px;'}
    %span.input-group-addon#basic-addon3
      500 x ... &nbsp;&nbsp;
    %span.input-group-btn
      %button.btn.btn-white.to_clipboard{'data-toggle': 'tooltip', :title => 'Копировать в буфер!', 'data-clipboard-binder': '', 'data-clipboard-text': "#{image_path @travel_day_image.uploaded_file(:average)}", 'data-clipboard-action': 'copy'}
        %i.fa.fa-paperclip{alt: 'Скопировать в буфер'}
  .input-group.input-group-sm.pull-right{style: 'width: 150px;clear:both;padding-bottom:3px;margin-right: 20px;'}
    %span.input-group-addon#basic-addon3
      Оригинал
    %span.input-group-btn
      %button.btn.btn-white.to_clipboard{'data-toggle': 'tooltip', :title => 'Копировать в буфер!', 'data-clipboard-binder': '', 'data-clipboard-text': "#{image_path @travel_day_image.uploaded_file}", 'data-clipboard-action': 'copy'}
        %i.fa.fa-paperclip{alt: 'Скопировать в буфер'}
:javascript
  var clipboard = new Clipboard('[data-clipboard-binder]');