.login-card
  %h1 Изменение пароля
  %br/
  .success
    = flash[:notice]
  = devise_error_messages!
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
    = f.hidden_field :reset_password_token
    = f.password_field :password, id: 'inputPassword', class: 'form-control', placeholder: 'Новый пароль',
          required: true, autocomplete: :off, style: 'margin-bottom: 0;'
    - if @minimum_password_length
      %em{style: 'float: right;font-weight: 100;'}
        #{@minimum_password_length} знаков минимум
      %br/

    = f.password_field :password_confirmation, id: 'inputPassword', class: 'form-control',
          placeholder: 'Подтверждение пароля', required: true, autocomplete: :off, style: 'margin-top: 12px;'
    = f.submit 'Войти', class: 'login login-submit'
  .login-help
    -#%a{:href => "#"} Register
    -#•
    = render 'devise/shared/links'
