.login-card
  %h1 Забыли пароль?
  %br/
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    = devise_error_messages!
    = f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email'
    = f.submit 'Выслать инструкцию', class: 'login login-submit'
  .login-help
    = link_to 'Назад', new_admin_session_path
    -#•
    = render 'devise/shared/links'
