.col-xs-12
  %section.panel.general
    %header.panel-heading.tab-bg-dark-navy-blue
      %ul.nav.nav-tabs
        %li.active
          %a{'data-toggle': 'tab', href: '#main'} Основная информация
        %li
          %a{'data-toggle': 'tab', href: '#slider'} Слайдер
        %li
          %a{'data-toggle': 'tab', href: '#seo'} СЕО
        %li
          %a{'data-toggle': 'tab', href: '#help'} Помощь
    = nested_form_for [:dashboard, @category], html: { id: 'category_form' } do |f|
      .panel-body
        .tab-content
          #main.tab-pane.active
            - if @category.errors.any?
              #error_explanation
                %h2= "#{pluralize(@category.errors.count, 'error')} prohibited this country from being saved:"
                %ul
                  - @category.errors.full_messages.each do |msg|
                    %li= msg

            .col-md-4.form-group
              = f.label 'Название'
              = f.text_field :name, class: 'form-control validate[required]', placeholder: 'Название категории'
              %span.help-block{style: 'padding-left: 15px;font-style: italic;font-size: small;'}
                = 'Например: Туры по Европе'

            .col-md-6.form-group
              = f.label 'Заголовок'
              = f.text_field :title, class: 'form-control', placeholder: 'Заголовок категории'
              %span.help-block{style: 'padding-left: 15px;font-style: italic;font-size: small;'}
                = 'Например: сойти с избитых туристических троп'

            .col-md-2.form-group{style: 'text-align:center;'}
              = f.label :is_enabled, 'Включена', style: 'padding-bottom:5px;'
              %br
              = f.check_box :is_enabled

            .col-md-12.form-group
              :css
                #category_tour_ids {
                  height: 140px;
                  border-bottom: 1px solid black;
                }
              = f.label 'Туры'
              = f.collection_select :tour_ids, Tour.all, :id, :title_for_orders, {},
                          class: 'form-control attach_select', multiple: true
              %span.help-block{style: 'padding-left: 15px;font-style: italic;font-size: small;margin-bottom: 15px;'}
                = 'Удерживайте Ctrl чтобы добавить или выбрать несколько!'

            .form-group
              .col-md-4.form-group{style: 'max-height: 180px; overflow: hidden;'}
                = image_tag @category.image(:preview), width: 400

              .col-md-4.form-group
                = f.label 'Изображение'
                = f.file_field :image
                %span.help-block{style: 'font-style: italic;font-size: small;'}
                  = 'Будет отображаться на странице всех стран'
                %br
                - if action_name == 'edit'
                  %p
                    %label
                      = hidden_field_tag 'category[remove_image]', 'false'
                      = check_box_tag 'category[remove_image]', true
                      Удалить изображение
                    %span.help-block{style: 'font-style: italic;font-size: small;'}
                      = 'Поставьте галку и сохраните для сброса на стандартное изображение'

              .col-md-4
                .form-group
                  = f.label 'Цвет фона'
                  .bfh-colorpicker{'data-color': "#{f.object.background_color}", 'data-align': 'left',
                  'data-name': 'category[background_color]'}
                    .input-group.bfh-colorpicker-toggle{'data-toggle':'bfh-colorpicker'}
                      %span.input-group-addon
                        %span.bfh-colorpicker-icon
                      = f.text_field :background_color, class: 'form-control validate[required]', placeholder: 'Цвет фона'

            .col-md-12.form-group
              %header.panel-heading Описание
              = f.text_area :description, class: 'tinymce', placeholder: 'Описание'
              = tinymce

          #slider.tab-pane
            #sliders.col-md-12
              = render 'dashboard/sliders/form', f: f

          #seo.tab-pane
            = render 'dashboard/seo_form', f: f

          #help.tab-pane
            %div{style: 'text-align: center;'}
              = image_tag 'examples/example_category1.png'
              = image_tag 'examples/example_category2.png'

      .col-md-12{style: 'padding-top: 15px;'}
        = f.submit 'Сохранить категорию!', class: 'btn btn-info pull-left'

