= form_for [:dashboard, Review.new], method: :post, remote: true, html: {autocomplete: false, id: 'new_review_form'} do |f|
  .fieldset
    .text-container.clear
      %label
        = '*Имя'
      = f.text_field :name, class: 'field for_clear validate[required]'
    .text-container.clear
      %label
        = 'E-mail'
      = f.text_field :email, class: 'field for_clear'
    .textarea-container.clear
      %label
        = '*Комментарий'
      = f.text_area :body, class: 'field for_clear validate[required]', rows: 5
  #buttons.buttons
    = f.text_field :anti_spam, class: 'hidden'
    = f.submit 'Отправить', class: 'btn', id: 'create_review', remote: true