.col-xs-12
  %section.panel.general
    %header.panel-heading.tab-bg-dark-navy-blue
      %ul.nav.nav-tabs
        %li.active
          %a{'data-toggle': 'tab', href: '#main'} Основная информация
        %li
          %a{'data-toggle': 'tab', href: '#slider'} Слайдер
        %li
          %a{'data-toggle': 'tab', href: '#left_block'} Блок слева
        %li
          %a{'data-toggle': 'tab', href: '#sticky_menu'} Sticky меню
        %li
          %a{'data-toggle': 'tab', href: '#bottom_block'} Нижний блок
        %li
          %a{'data-toggle': 'tab', href: '#seo'} СЕО
    = nested_form_for @home_page, html: { id: 'edit_page_form' } do |f|
      .panel-body
        .tab-content
          #main.tab-pane.active
            - if @home_page.errors.any?
              .alert.alert-block.alert-danger
                %strong Внимание!
                - @home_page.errors.messages.each_with_index do |error, index|
                  = "#{index+1}) #{error[1].join}"
                  %br
                - @home_page.sticky_items.map {|x| x.page_attachments.collect {|z| z.errors.messages unless z.errors.messages.blank?}.compact}.each do |message|
                  - message.each do |m|
                    = m[:base].join
            .col-md-12
              .form-group.row
                .col-md-5
                  = f.label 'Заголовок тексотового блока'
                  = f.text_field :title_on_main, class: 'form-control validate[required]', placeholder: 'Заголовок'
                  %span.help-block{style: 'padding-left: 15px;font-style: italic;font-size: small;'}
                    = 'Например: Кто мы?'

                .col-md-2{style: 'padding-top:30px;'}
                  %label
                    = f.check_box :show_title
                    Отображать?
                .col-md-3.form-group
                  = f.label 'Цвет фона'
                  .bfh-colorpicker{'data-color': "#{f.object.description_background}", 'data-align': 'left',
                    'data-name': 'home_page[description_background]'}
                    .input-group.bfh-colorpicker-toggle{'data-toggle':'bfh-colorpicker'}
                      %span.input-group-addon
                        %span.bfh-colorpicker-icon
                      = f.text_field :description_background, class: 'form-control'
              .form-group.row
                .col-md-4#configs_form
                  .onoffswitch
                    = f.check_box :slider_enabled, class: 'page_enabled_checkbox onoffswitch-checkbox', id: 'onoffswitch2'
                    %label.onoffswitch-label{for: 'onoffswitch2'}
                      %span.onoffswitch-inner.default
                  = f.label :slider_enabled, 'Слайдер включен', class: 'the_label'
                  :css
                    #configs_form .onoffswitch-label {
                      float: left;
                    }

                    #configs_form .the_label {
                      padding: 7px;
                    }
              .form-group.row
                .col-md-12#description_field.form-group
                  = f.label 'Текст блока'
                  = f.text_area :description, class: 'form-control tinymce', placeholder: 'Описание', rows: 5
                  = tinymce
                  %span.help-block{style: 'padding-left: 15px;font-style: italic;font-size: small;'}
                    = 'Например: Большое количество наших клиентов остались довольны нашими..."'

          #slider.tab-pane
            = render 'dashboard/sliders/form', f: f

          #left_block.tab-pane
            .col-md-12
              .form-group.row
                .col-md-6
                  = f.label 'Заголовок блока'
                  = f.text_field :left_side_title, class: 'form-control', placeholder: 'Заголовок блока слева'
                .col-md-2{style: 'padding-top:30px;'}
                  %label
                    = f.check_box :show_title
                    Отображать?
                .col-md-3.col-md-offset-1
                  = f.label 'Ссылка'
                  = f.text_field :left_side_link, class: 'form-control', placeholder: 'Ссылка блока'

              .form-group.row
                .col-md-4.form-group{style: 'max-height: 180px; overflow: hidden;'}
                  = image_tag @home_page.left_image(:main)

                .col-md-8.form-group
                  = f.label 'Изображение блока.'
                  = f.file_field :left_image
                  %span.help-block{style: 'font-style: italic;font-size: small;'}
                    = 'Ограничение по ширине 204px'
                    %br
                    = 'Можно вставить только картинку оставив другие поля пустыми.'
                  %br
                  - if action_name == 'edit'
                    %p
                      %label
                        = hidden_field_tag 'remove_image', 'false'
                        = check_box_tag 'remove_image', true
                        Удалить изображение
                      %span.help-block{style: 'font-style: italic;font-size: small;'}
                        = 'Поставьте галку и сохраните для сброса на стандартное изображение'

              .form-group.row
                .col-md-12#description_field.form-group
                  = f.label 'Текст блока'
                  = f.text_area :left_side_text, class: 'form-control', placeholder: 'Текст блока слева', rows: 5, id: 'qwer'
                  %span.help-block{style: 'padding-left: 15px;font-style: italic;font-size: small;'}
                    = 'Например: Большое количество наших клиентов остались довольны нашими..."'



          #sticky_menu.tab-pane
            :css
              #sticky > .fields {
                border-bottom: 1px solid #ddd;
                padding-bottom: 30px;
                margin-bottom: 25px;
                display: inline-block;
                width: 100%;
              }
            #sticky.col-md-12
              = f.fields_for :sticky_items do |sticky_builder|
                .form-group.row
                  .col-md-6
                    = sticky_builder.label 'Заголовок меню'
                    = sticky_builder.text_field :title, class: 'form-control', placeholder: 'Заголовок'
                  .col-md-4
                    = sticky_builder.label 'Ссылка блока'
                    = sticky_builder.text_field :link, class: 'form-control', placeholder: 'Ссылка'
                  .col-md-2{style: 'padding-top: 25px;'}
                    = sticky_builder.link_to_remove 'Удалить', class: 'btn btn-danger pull-right'
                .form-group.row
                  .col-md-12
                    = sticky_builder.label 'Заголовок блока'
                    = sticky_builder.text_field :full_title, class: 'form-control', placeholder: 'Заголовок'
                #attachment
                  = sticky_builder.fields_for :page_attachments do |attachment_builder|
                    .col-md-4
                      .row{style: 'padding: 20px 25px 0 0;'}
                        = attachment_builder.radio_button :type, 'country', checked: true, class: 'attach_checkbox checkbox_created'
                        = attachment_builder.label :type_country, 'Страна'

                        = attachment_builder.radio_button :type, 'category', class: 'attach_checkbox checkbox_created'
                        = attachment_builder.label :type_category, 'Категория'

                        = attachment_builder.radio_button :type, 'tour', class: 'attach_checkbox checkbox_created'
                        = attachment_builder.label :type_tour, 'Тур'

                        = attachment_builder.link_to_remove 'Удалить', class: 'label label-danger pull-right'
                      .row{style: 'padding: 20px 25px 0 0;'}
                        .form-group#country_fields
                          = attachment_builder.label ' '
                          = attachment_builder.collection_select :country_id, Country.all, :id, :name, {include_blank: 'Нет'},
                              class: 'form-control attach_select'
                        .form-group#category_fields.hidden
                          = attachment_builder.label ' '
                          = attachment_builder.collection_select :category_id, Category.all, :id, :name, {include_blank: 'Нет'},
                            class: 'form-control attach_select'
                        .form-group#tour_fields.hidden
                          = attachment_builder.label ' '
                          = attachment_builder.collection_select :tour_id, Tour.all, :id, :title_for_orders, {include_blank: 'Нет'},
                              class: 'form-control attach_select'
                #sticky_attachments.col-md-12
                  = render 'dashboard/page_attachments/form', f: sticky_builder

                = sticky_builder.link_to_add 'Добавить блок', :page_attachments,
                  style: ' float: left;clear:both;width:160px;margin-bottom:10px;', class: 'btn btn-success'
                = sticky_builder.link_to_add 'Добавить шаблон', :templates, style: 'float:left;clear:both;width: 160px;',class: 'btn btn-success'
            = f.link_to_add 'Добавить sticker', :sticky_items, data: {target: '#sticky'}, class: 'btn btn-success pull-right'


          #bottom_block.tab-pane
            :css
              #bottom_block .fields {
                border-bottom: 1px solid #ddd;
                padding: 25px 0;
                list-style:none;
              }
            #faqs
              = f.fields_for :faqs do |faq_builder|
                .row
                  .col-md-6.form-group
                    = faq_builder.label :title, 'Заголовок'
                    = faq_builder.text_field :title, class: 'form-control', placeholder: 'Заголовок'
                  .col-md-2.col-md-offset-4.form-group{style: 'padding-top: 25px;'}
                    = faq_builder.link_to_remove 'Удалить', class: 'pull-right btn btn btn-danger'
                  .col-md-12
                    = faq_builder.label :description, 'Описание'
                    = faq_builder.text_area :description, class: 'editor tinyeditor form-control', rows: 8
            .row
              .col-md-2.col-md-offset-10{style: 'padding-top: 15px;'}
                = f.link_to_add  'Добавить блок', :faqs, class: 'pull-right btn btn-success', data: { target: '#faqs' }


          #seo.tab-pane
            :css
              textarea { resize: vertical; }
            .col-lg-12
              .alert.alert-block.alert-danger
                %strong Внимание!
                Редактируйте эти поля, только если знаете что делаете! Это прямо влияет на ранжирование сайта в поисковых системах!

              .alert.alert-info
                %strong К сведению!
                Поля
                %i ссылка
                и
                %i meta заголовок
                можно оставлять пустыми. Они всегда генерируются автоматически если не указано иное!

            .col-xs-12
              %header.panel-heading Пример
              = image_tag 'examples/seo-example.png'

            .col-md-12.form-group
              = f.text_field :meta_title, class: 'form-control', placeholder: 'meta заголовок'
              %span.help-block{style: 'padding-left: 15px;font-style: italic;font-size: small;'}
                = 'Например: Туры в Португалию'

            .col-md-6.form-group
              = f.text_area :meta_description, rows: 8, class: 'form-control', placeholder: 'meta описание', id: 'meta_description'
              %span.help-block{style: 'padding-left: 15px;font-style: italic;font-size: small;'}
                = 'Например: Наша Португалия - не туристическая, она...'

            .col-md-6.form-group
              = f.text_area :meta_keywords, rows: 8, class: 'form-control', placeholder: 'ключевые слова (через запятую)', id: 'meta_keywords'
              %span.help-block{style: 'padding-left: 15px;font-style: italic;font-size: small;'}
                = 'Например: туры, туризм, португалия...'

      .form-group{style: 'margin-top: 15px'}
        .col-md-4
          = f.submit 'Сохранить страницу!', class: 'btn btn-info'
