= render 'dashboard/pages/meta', page: @home_page

#contentWrapperWrapper.main-container
  #contentWrapper.section.main{:role => 'main'}
    = render 'static/css_for_slider'
    - if @home_page.slider_enabled && Slider.count > 0
      .contentArea.contentAreaC{style: 'margin-top: -42px;'}
        .module.hidden-small.htmlModule
          .slider-container
            .slider-control.left
            .slider-control.right
            %ul.slider-pagi
            .slider
              - @sliders.each_with_index do |slide, index|
                .slide{class: "slide-#{index} #{'active' if index == 0}"}
                  .slide__bg{style: "background-image: url(#{image_path slide.image});"}
                  .slide__content
                    %svg.slide__overlay{:preserveaspectratio => 'xMaxYMax slice', :viewbox => '0 0 720 405'}
                      %path.slide__overlay-path{:d => 'M0,0 150,0 500,405 0,405'}
                    .slide__text
                      %h2.slide__text-heading
                        = slide.title
                      %p.slide__text-desc
                        = slide.description
                      - if slide.type.present?
                        = link_to 'Подробнее', eval("show_#{slide.type}_path(slug: slide.#{slide.type}.slug)"), class: 'slide__text-link'
          = render 'static/js_for_slider'
        .module.hidden-small.divider-divider-variable.divider-variable{:style => 'height: 430px;'}

    .contentArea.contentAreaB
      .module.divider-divider-variable.divider-variable{:style => 'height: 50px;'}
      %article.module.hidden-small.intro.image-text.image-text-small.small.alignleft.clear
        %div
          = image_tag @home_page.left_image(:main)
        %p.small
        %h1.h2{style: 'font-size:16px;'}
          = @home_page.left_side_title
          %p
            %span{:style => 'color: rgb(34, 34, 34)!important; font-family: arial, sans-serif; font-size: 12.8000001907349px; line-height: normal;'}
              = raw @home_page.left_side_text
          %p
            %span{:style => 'color:#000000;'}
              = link_to 'Читать далее>>', @home_page.left_side_link, target: '_blank'
    .contentArea.contentAreaD
      %h2.module.h1.aligncenter.text-center
        = @home_page.title_on_main
      .module.alignleft.text-left.box.callToAction{style: "background-color: #{@home_page.description_background};"}
        %p{:dir => 'ltr'}
          %br/
          %span{:style => 'color:#FFFFFF;font-size:16px;'}
            = raw @home_page.description
    .contentArea.contentAreaC
      .module.htmlModule
        %meta{:charset => 'utf-8'}/
        :css
          .contentArea .columns, .module .columns, .module > .columns:first-child, .footer-content .columns {

          font-size: 14px;
          color: black;

          }
          .h2.module.margin-collapse, .cart-container .module.margin-collapse.headline, .carousel figcaption.module.margin-collapse, .product-units .module.margin-collapse.price, .image-text .module.margin-collapse.price, .checkoutArea .module.margin-collapse.h1 {
          color: rgb(0, 99, 132);
          }
          .btn-large, .formbuilder .btn, .checkoutArea .btn, .product-single .btn {
          font-size: 1em;
          padding: .5em 1em;
          }
           .module.margin-collapse.border.bar h1.h2 {
          color: #006384;
          }
          .module.margin-collapse.border.bar h2.h2 {
          color: #006384;
          }
          .module.margin-collapse.border.bar h3.h2 {
          color: #006384;
          }
          .usp li:before {
          content: "\0058";
          color: #FFB32A;
          }
          .contentArea .h2 {
          font-size: 20px;
          color: #000;
          line-height: 1;
          font-style: normal;
          font-weight: 600;
          }
          .btn-call, .btn-email {
          padding: 2.25em .75em .25em 3em;
          font-size: 0.985em;
          height: 90px;
          }
          .btn-call:before, .btn-email:before {
          padding: 2.25em .75em;
          border-right: 1px dotted white;
          }
          .spec{
          background: #006384;
          color: #fff;
          }
          .to_top{
          position: fixed;
          top: 0;
          width: 3000px;
          background: #0099cc;
          margin-left: -1050px;    padding-left: 1047px;}
          #stick_menu{


          color:black;

          z-index:1;
          }

          td{
          vertical-align:center;
          background: white;
          border: 1px solid white;

          }
          .tagun{
          background: #0099cc;
          }
          .tagun:hover{
          background: #ffa523;
          color:white;
          text-decoration:none;
          }
          .active{
          color:white;
          background: #FFB32A;
          }
          td a{
          color:white;
          display: block;
          text-decoration:none;
          padding: 12px 0;
          }
          .tdd{
          font-size:14px;
          }
          td:focus{
          color:white;

          text-decoration:none;
          }
          a:hover{text-decoration:none;}
          .btn-large, .formbuilder .btn, .checkoutArea .btn, .product-single .btn {
          font-size: 1em;
          padding: 0.5em 1.5em;
          }
        #stick_menu
          %table{:align => 'center', :border => '0', :width => '900'}
            %tbody
              %tr{:align => 'center'}
                - @home_page.sticky_items.each_with_index do |item, index|
                  %td.tagun
                    %a.tdd{:href => "##{index+1}"}
                      = item.title
      - @home_page.sticky_items.each_with_index do |item, index|
        .module.htmlModule
          %section{id: "#{index+1}", style: 'position: absolute; height: 518px;'}
        .module.divider-divider.divider
        %h3.module.h1.aligncenter.text-center
          = item.full_title
        - if item.page_attachments.present?
          - item.page_attachments.each_slice(3) do |slice|
            .module.margin-collapse.htmlModule
              %ul.ul-look
                - slice.each do |attachment|
                  %li#hover-link.detailholder.looktitle
                    = link_to eval("show_#{attachment.type.downcase}_path(slug: attachment.#{attachment.type}.slug)") do
                      .hover
                        %span.map-icon-location-arrow{'aria-hidden': true}
                      = image_tag(eval("attachment.#{attachment.type}.image(:preview)"))
                      %h2.block
                        = eval "attachment.#{attachment.type}.name"
                      %p
        .module
        - if item.link.present?
          %article.module.text
            %p{:style => 'text-align: right;'}
              %span{:style => 'color:#0099cc;font-size:18px;'}
                %strong
                  = link_to 'Еще больше интересных туров тут >>', item.link
        - if item.templates.present?
          - item.templates.each do |template|
            = render "dashboard/pages/stick_templates/#{template.name}"

      .module.margin-collapse.full-width-container
        .full-width{:style => ''}
          .full-width-inner.clear
            .module.image-text-columns.columns.clear
              - @home_page.faqs.each do |b|
                .column.column-33
                  %h3.h2.text-left
                    = b.title
                  = raw b.description
                  %div  