.module.htmlModule
  :css
        .contentArea .columns, .module .columns, .module > .columns:first-child, .footer-content .columns {
        font-size: 14px;
        color: black;
        }
        .h2.module.margin-collapse, .cart-container .module.margin-collapse.headline, .carousel figcaption.module.margin-collapse, .product-units .module.margin-collapse.price, .image-text .module.margin-collapse.price, .checkoutArea .module.margin-collapse.h1 {
        color: rgb(0, 99, 132);
        }
        .btn-large, .formbuilder .btn, .checkoutArea .btn, .product-single .btn {
        font-size: 1em;
        padding: .5em 1em;
        }
         .module.margin-collapse.border.bar h1.h2 {
        color: #006384;
        }
        .module.margin-collapse.border.bar h2.h2 {
        color: #006384;
        }
        .module.margin-collapse.border.bar h3.h2 {
        color: #006384;
        }
        .usp li:before {
        content: "\0058";
        color: #FFB32A;
        }
        .contentArea .h2 {
        font-size: 20px;
        color: #000;
        line-height: 1;
        font-style: normal;
        font-weight: 600;
        }
        .btn-call, .btn-email {
        padding: 2.25em .75em .25em 3em;
        font-size: 0.985em;
        height: 90px;
        }
        .btn-call:before, .btn-email:before {
        padding: 2.25em .75em;
        border-right: 1px dotted white;
        }
        .spec{
        background: #006384;
        color: #fff;
        }
        .to_top{
        position: fixed;
        top: 0;
        width: 3000px;
        background: #0099cc;
        margin-left: -1050px;}
        #stick_menu{
          color:black;
          z-index:1;
        }
        td{
          vertical-align:center;
          background: #0099cc;
          border: 1px solid white;
        }
        .active{
        color:white;
        background: #FFB32A;
        }
        td a{
        color:white;
        display: block;
        text-decoration:none;
        padding: 12px 0;
        }
        .tdd{
        font-size:14px;
        }
        td:hover{
        color:white;
        background: #ffa523;
        text-decoration:none;
        }
        td:focus{
        color:white;
        background: #FFB32A;
        text-decoration:none;
        }
        a:hover{text-decoration:none;}
      .module.margin-collapse.border.bar
        %h2.h2 Контактная информация
        %hr/
      .contentArea .columns, .module .columns, .module > .columns:first-child, .footer-content .columns {
      font-size: 14px;
      color: black;
      }
      .h2.module.margin-collapse, .cart-container .module.margin-collapse.headline, .carousel figcaption.module.margin-collapse, .product-units .module.margin-collapse.price, .image-text .module.margin-collapse.price, .checkoutArea .module.margin-collapse.h1 {
      color: rgb(0, 99, 132);
      }
      .btn-large, .formbuilder .btn, .checkoutArea .btn, .product-single .btn {
      font-size: 1em;
      padding: .5em 1em;
      }
       .module.margin-collapse.border.bar h1.h2 {
      color: #006384;
      }
      .module.margin-collapse.border.bar h2.h2 {
      color: #006384;
      }
      .module.margin-collapse.border.bar h3.h2 {
      color: #006384;
      }
      .usp li:before {
      content: "\0058";
      color: #FFB32A;
      }
      .contentArea .h2 {
      font-size: 20px;
      color: #000;
      line-height: 1;
      font-style: normal;
      font-weight: 600;
      }
      .btn-call, .btn-email {
      padding: 2.25em .75em .25em 3em;
      font-size: 0.985em;
      height: 90px;
      }
      .btn-call:before, .btn-email:before {
      padding: 2.25em .75em;
      border-right: 1px dotted white;
      }
      .spec{
      background: #006384;
      color: #fff;
      }
      .to_top{
      position: fixed;
      top: 0;
      width: 3000px;
      background: #0099cc;
      margin-left: -1050px;}
      #stick_menu{
      color:black;
      z-index:1;
      }
      td{
      vertical-align:center;
      background: #0099cc;
      border: 1px solid white;
      }
      .active{
      color:white;
      background: #FFB32A;
      }
      td a{
      color:white;
      display: block;
      text-decoration:none;
      padding: 12px 0;
      }
      .tdd{
      font-size:14px;
      }
      td:hover{
      color:white;
      background: #ffa523;
      text-decoration:none;
      }
      td:focus{
      color:white;
      background: #FFB32A;
      text-decoration:none;
      }
      a:hover{text-decoration:none;}
    .module.margin-collapse.border.bar
      %h2.h2 Контактная информация
      %hr/
      .contentArea .columns, .module .columns, .module > .columns:first-child, .footer-content .columns {
      font-size: 14px;
      color: black;
      }
      .h2.module.margin-collapse, .cart-container .module.margin-collapse.headline, .carousel figcaption.module.margin-collapse, .product-units .module.margin-collapse.price, .image-text .module.margin-collapse.price, .checkoutArea .module.margin-collapse.h1 {
      color: rgb(0, 99, 132);
      }
      .btn-large, .formbuilder .btn, .checkoutArea .btn, .product-single .btn {
      font-size: 1em;
      padding: .5em 1em;
      }
       .module.margin-collapse.border.bar h1.h2 {
      color: #006384;
      }
      .module.margin-collapse.border.bar h2.h2 {
      color: #006384;
      }
      .module.margin-collapse.border.bar h3.h2 {
      color: #006384;
      }
      .usp li:before {
      content: "\0058";
      color: #FFB32A;
      }
      .contentArea .h2 {
      font-size: 20px;
      color: #000;
      line-height: 1;
      font-style: normal;
      font-weight: 600;
      }
      .btn-call, .btn-email {
      padding: 2.25em .75em .25em 3em;
      font-size: 0.985em;
      height: 90px;
      }
      .btn-call:before, .btn-email:before {
      padding: 2.25em .75em;
      border-right: 1px dotted white;
      }
      .spec{
      background: #006384;
      color: #fff;
      }
      .to_top{
      position: fixed;
      top: 0;
      width: 3000px;
      background: #0099cc;
      margin-left: -1050px;}
      #stick_menu{
      color:black;
      z-index:1;
      }
      td{
      vertical-align:center;
      background: #0099cc;
      border: 1px solid white;
      }
      .active{
      color:white;
      background: #FFB32A;
      }
      td a{
      color:white;
      display: block;
      text-decoration:none;
      padding: 12px 0;
      }
      .tdd{
      font-size:14px;
      }
      td:hover{
      color:white;
      background: #ffa523;
      text-decoration:none;
      }
      td:focus{
      color:white;
      background: #FFB32A;
      text-decoration:none;
      }
      a:hover{text-decoration:none;}
    .module.margin-collapse.border.bar
      %h2.h2 Контактная информация
      %hr/
    .contentArea .columns, .module .columns, .module > .columns:first-child, .footer-content .columns {
    font-size: 14px;
    color: black;
    }
    .h2.module.margin-collapse, .cart-container .module.margin-collapse.headline, .carousel figcaption.module.margin-collapse, .product-units .module.margin-collapse.price, .image-text .module.margin-collapse.price, .checkoutArea .module.margin-collapse.h1 {
    color: rgb(0, 99, 132);
    }
    .btn-large, .formbuilder .btn, .checkoutArea .btn, .product-single .btn {
    font-size: 1em;
    padding: .5em 1em;
    }
     .module.margin-collapse.border.bar h1.h2 {
    color: #006384;
    }
    .module.margin-collapse.border.bar h2.h2 {
    color: #006384;
    }
    .module.margin-collapse.border.bar h3.h2 {
    color: #006384;
    }
    .usp li:before {
    content: "\0058";
    color: #FFB32A;
    }
    .contentArea .h2 {
    font-size: 20px;
    color: #000;
    line-height: 1;
    font-style: normal;
    font-weight: 600;
    }
    .btn-call, .btn-email {
    padding: 2.25em .75em .25em 3em;
    font-size: 0.985em;
    height: 90px;
    }
    .btn-call:before, .btn-email:before {
    padding: 2.25em .75em;
    border-right: 1px dotted white;
    }
    .spec{
    background: #006384;
    color: #fff;
    }
    .to_top{
    position: fixed;
    top: 0;
    width: 3000px;
    background: #0099cc;
    margin-left: -1050px;}
    #stick_menu{
    color:black;
    z-index:1;
    }
    td{
    vertical-align:center;
    background: #0099cc;
    border: 1px solid white;
    }
    .active{
    color:white;
    background: #FFB32A;
    }
    td a{
    color:white;
    display: block;
    text-decoration:none;
    padding: 12px 0;
    }
    .tdd{
    font-size:14px;
    }
    td:hover{
    color:white;
    background: #ffa523;
    text-decoration:none;
    }
    td:focus{
    color:white;
    background: #FFB32A;
    text-decoration:none;
    }
    a:hover{text-decoration:none;}
  .module.margin-collapse.border.bar
    %h2.h2 Контактная информация
    %hr/
  %article.module.text
    %p
      Адрес:
      = @about.address
      %br/
      %span{:style => 'line-height: 1.6;'}
        Телефон:
        = @about.phone
      %br/
      %span{:style => 'line-height: 1.6;'}
        Почта:
        %a{'data-track-action': 'tapToEmail', 'data-track-event': 'click', href: "mailto:#{@about.info_email}", itemprop: 'email'}
          = @about.info_email
  .module.htmlModule
    = raw @about.map_link
    %article.module.text
    %p
      %strong Реквизиты:
    %p
      %span{:style => 'line-height: 1.6;'}
        = simple_format @about.requisites