.module.comments
  %dl#result
    - if Review.approved.count == 0
      = 'Пока никто не оставял отзывы!'
    -else
      - Review.approved.each do |review|
        %dt.small
          = 'Автор: '
          %a{:href => "mailto:#{review.email}", title: 'Написать сообщение автору отзыва'}
            = "#{review.name}, #{review.city}"
        %dd
          = review.body