.module.comments
  %span.small.right
    = @reviews.approved.count
    Комментариев (-ия)
  %h2.h4
    %a.btn.review_form_toggle_button{:href => '#'} Нажмите сюда, чтобы добавить отзыв
    %a.btn.review_form_toggle_button{:href => '#', style: 'display:none;'} Уже не хочу добавлять. Закрыть окно
  #review_form.formbuilder.hidden
    = render 'dashboard/reviews/form_new'
  %dl#result
    - if @reviews.approved.count == 0
      = 'Пока никто не оставил отзыв! Будте первыми!'
    -else
      - @reviews.each do |review|
        %dt.small
          = 'Автор: '
          %a{:href => "mailto:#{review.email}", title: 'Написать сообщение автору отзыва'}
            = "#{review.author_name}, #{review.author_city}"
        %dd
          = review.body