.login-card
  %h1 Вход
  %br/
  .success
    = flash[:notice]
  .errors{style: 'color: red;'}
    = flash[:alert]
  = form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-signin'})  do |f|
    = f.text_field :login, id: 'inputEmail', class: 'form-control', placeholder: 'Логин или email',
          required: true, autocomplete: :off
    = f.password_field :password, id: 'inputPassword', class: 'form-control', placeholder: 'Пароль',
          required: true, autocomplete: :off
    = f.submit 'Войти', class: 'login login-submit'
  .login-help
    -#%a{:href => "#"} Register
    -#•
    = render 'devise/shared/links'
