- @special_tours.each_with_index do |tour, index|
  %tr
    %td= index.succ
    %td= tour.name
    %td.text-center= tour.country
    %td.text-center= tour.tour_type
    %td
      = link_to edit_dashboard_special_tour_path(tour), class: 'btn btn-default btn-xs' do
        %i.fa.fa-pencil
      = link_to dashboard_special_tour_path(tour, page: params[:page]), method: :delete, class: 'btn btn-default btn-xs',
              data: {confirm: "Вы уверены что хотите удалить тур #{tour.name}"} do
        %i.fa.fa-times