= render 'dashboard/pages/meta', page: @page
#contentWrapperWrapper.main-container
  #contentWrapper.section.main{:role => "main"}
    .contentArea.contentAreaC
      = render 'page_header'
      - if @page.page_attachments.present?
        - @page.page_attachments.each do |attachment|
          = render "dashboard/pages/stick_templates/#{attachment.template}"

      = raw @page.html_content