= render 'dashboard/pages/meta', page: @tour
#contentWrapperWrapper.main-container
  #contentWrapper.section.main.the_tour{role: 'main'}
    .contentArea.contentAreaC{style: 'min-height: 330px;'}
      #contentArea_1_-module_1_.module.has-box.jumbotron.clear
        .slideshow{style: 'max-height: 24em;'}
          %figure.slide.slide-active
            - if @tour.image.present?
              = image_tag @tour.image
            .figcaption-container
              .figcaption-inner
                .display
                  %figcaption{style:'font-size: 3.4375em;'}
                    %span
        .module-container
          .module.box-large.alignleft.text-left.box{style: 'background-color: rgba(0, 0, 0, 0.7);filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#B2000000,endColorStr=#B2000000);margin: 8.875em 0px 4.875em;'}
            %p{style: 'text-align: center;'}
              %span{style: 'font-size:48px;color:#FFFFFF;line-height: 1.1em;'}
                = @tour.name

    .contentArea.contentAreaB
      .module.margin-collapse.h4.preamble
        %p
          %span{style: 'font-size:18px;'} Маршрут
      .module.htmlModule
        :css
          .windou1{
          overflow: hidden;
          height: 200px;
          }
          .windou1:hover{
              width: 670px;
              height: 300px;
              overflow: overlay;
          }
        .windou1
          = raw @tour.map_link
    .contentArea.contentAreaA
      .module.margin-collapse.h4.preamble
        %p
          %span{style: 'font-size:18px;'}
            = 'Регион: '
            = "#{@tour.countries.first.region}, #{@tour.countries.pluck(:name).join(' и ')}"
            = "#{', ' + @tour.city if @tour.city.present?}"
      .module.divider-dotted.dotted
      %article.module.text
        - if @tour.route.present?
          %p
            %span{style: 'color:#000000;font-size:14px;'}
              = raw '<strong>Маршрут: </strong>' + @tour.route
            %br/
           
        %p
          %span{style: 'color:#000000;style: font-size:14px;'}
            = raw '<strong>Описание: </strong>' + @tour.description
    .contentArea.contentAreaB
      .module.spotcall
        .textbox
          %p{style: 'text-align: center;'}
            %span{:style => 'font-size: 14px;'}
              %font{:color => '#ffffff', style: 'float: left;'} Стоимость:
              %span{:style => 'color:#FFA500;float: right;'}
                %strong
                  = show_bel_price(@tour)
              %br
              %span{:style => 'color:#FFA500;padding-left: 80px;float: right;'}
                %strong
                  = show_price(@tour)
            %br/
            %span{style: 'color:#FFFFFF;font-size: 14px; line-height: 22.3999996185303px;'} ..................................
            %br/
            %span{style: 'font-size: 14px; color: rgb(255, 255, 255); line-height: 1.6;'}
              = @tour.days
        %a.btn.btn-large.piwik_ignore{'data-track-action': 'spotBoxWithButton', 'data-track-event': 'click', href: '/kontakty', title: ''} Задать вопрос
    .contentArea.contentAreaC
      .module.margin-collapse.htmlModule
        %meta{:charset => 'utf-8'}/
        :css
          .contentArea .columns, .module .columns, .module > .columns:first-child, .footer-content .columns {

          font-size: 14px;
          color: black;

          }
           .module.margin-collapse.border.bar h1.h2 {
          color: #006384;
          }
          .module.margin-collapse.border.bar h2.h2 {
          color: #006384;
          }
          .module.margin-collapse.border.bar h3.h2 {
          color: #006384;
          }
          .usp li:before {
          content: "\0058";
          color: #FFB32A;
          }
          .contentArea .h2 {
          font-size: 20px;
          color: #000;
          line-height: 1;
          font-style: normal;
          font-weight: 600;
          }
          .btn-call, .btn-email {
          padding: 2.25em .75em .25em 3em;
          font-size: 0.985em;
          height: 90px;
          }
          .btn-call:before, .btn-email:before {
          padding: 2.25em .75em;
          border-right: 1px dotted white;
          }
          .spec{
          background: #006384;
          color: #fff;
          }
          .to_top{
          position: fixed;
          top: 0;
          width: 3000px;
          background: #0099cc;
          margin-left: -1050px;}
          #stick_menu{


          color:black;

          z-index:1;
          }

          td{
          vertical-align:center;
          background: #0099cc;
          border: 1px solid white;

          }
          .active{
          color:white;
          background: #FFB32A;
          }
          td a{
          color:white;
          display: block;
          text-decoration:none;
          padding: 12px 0;
          }
          .tdd{
          font-size:14px;
          }
          td:hover{
          color:white;
          background: #ffa523;
          text-decoration:none;
          }
          td:focus{
          color:white;
          background: #FFB32A;
          text-decoration:none;
          }
          a:hover{text-decoration:none;}
        #stick_menu
          %table{align: 'center', border: '0', width: '900'}
            %tbody
              %tr{align: 'center'}
                - if @tour.images.present?
                  %td
                    %a.tdd{href: '#1'} Фотографии
                - if !@tour.images.present? && @tour.videos.present?
                  %td
                    %a.tdd{href: '#1-1'} Видео
                - if @tour.details.present?
                  %td
                    %a.tdd{href: '#2'} Описание
                - if @tour.travel_days.present?
                  %td
                    %a.tdd{href: '#3'} Программа
                - if @tour.hotels.present?
                  %td
                    %a.tdd{href: '#4'} Проживание
                %td
                  %a.tdd{href: '#5'} Даты / Цены
                %td
                  %a.tdd{href: '#6'} FAQ
                %td
                  %a.tdd.spec{href: '#7'} Забронировать
      .module.margin-collapse.htmlModule
        - if @tour.images.present?
          %section#1{style: "position: absolute; height: 1000px;"}
        - if !@tour.images.present? && @tour.videos.present?
          %section#1-1{style: "position: absolute; height: 1000px;"}
      .module.divider-divider-variable.divider-variable{style: 'height: 10px;'}
      .module.margin-collapse.border.bar
        - if @tour.images.present?
          %h1.h2 Фотографии
        - if !@tour.images.present? && @tour.videos.present?
          %h1.h2 Видео
        %hr/
      - if @tour.images.present?
        .module.divider-divider-variable.divider-variable{style: 'height: 9px;'}
        .module.gallery.g1.gallery-1.clear.slider-ready{'data-bind': 'slider lightbox'}
          .slider
            .slides.slide-container{style: 'transform: translate3d(0px, 0px, 0px);'}
              - @tour.images.each_slice(8) do |slice|
                .slide
                  %ul.pics.clear
                    - slice.each do |image|
                      %li
                        = link_to image_path image.uploaded_file, class: 'piwik_ignore' do
                          %span.pic.thumb
                            = image_tag image.uploaded_file(:tour_gallery_thumb)
          %ul.nav.nav-slider.gallery-1-nav
            %li.info
            %li.prev
              %a.previous.piwik_ignore{'data-bind': 'previous-slide', 'data-track-action': 'gallery_prev', 'data-track-event': 'click', href: '#'}
            %li.next
              %a.next.piwik_ignore{'data-bind': 'next-slide', 'data-track-action': 'gallery_next', 'data-track-event': 'click', href: '#'}
          .page-indication.hidden-large
            %ul
              %li.active 0
              %li 1
      - if @tour.videos.present?
        .module.htmlModule
          %div
            %ul.bxslider
              - @tour.videos.each do |video|
                %li{style: 'height: 520px;'}
                  %iframe{allowfullscreen: '', frameborder: '0', height: '500', mozallowfullscreen: '',
                  src: "http://player.vimeo.com/video/#{video.video_id}",
                  webkitallowfullscreen: '', width: '890'}
          :javascript
            var slider = $('.bxslider').bxSlider({
              mode: 'horizontal'
            });

            $('#reload-slider').click(function(e){
              e.preventDefault();
              $('.bxslider').append('<li><img src="/images/730_200/trees.jpg"></li>');
              slider.reloadSlider();
            });
      - if @tour.details.present?
        .module.margin-collapse.htmlModule
          %section#2{style: "position: absolute; height: 930px;"}
        .module.margin-collapse.border.bar
          %h2.h2 Описание
          %hr/
        .module.divider-divider-variable.divider-variable{style: 'height: 9px;'}
        %article.module.intro.image-text.image-text-large.large.alignleft.clear
          = sanitize @tour.details
      - if @tour.travel_days.present?
        .module.htmlModule
          %section#3{style: "position: absolute; height: 2000px;"}
        .module.margin-collapse.border.bar
          %p
            %span{style: 'font-size:22px;'}
              %h2.h2 Программа
        .module.divider-divider-variable.divider-variable{style: 'height: 30px;'}
        - if @travel_days.present?
          - @travel_days.each do |day|
            %div
              .module.margin-collapse.display.display-boxed
                - if day.day_number.present?
                  %h3{style: "font-size: 1em;color: #FFFFFF;background-color:  #FFA523  ;\r\n-webkit-box-shadow: -0.25em 0 0 0  #FFA523  , 0.25em 0 0 0  #FFA523  ;\r\n-moz-box-shadow: -0.25em 0 0 0  #FFA523  , 0.25em 0 0 0  #FFA523  ;\r\nbox-shadow: -0.25em 0 0 0  #FFA523  , 0.25em 0 0 0  #FFA523  ;"}
                    = day.day_number
                    = 'день'
              %article.module.intro.image-text.image-text-medium.medium.alignleft.clear
                - day.images.each do |image|
                  = image_tag image.uploaded_file(:travel_day_image), style: 'clear: both;'
                %h3.h2
                  = day.title
                %p
                  = raw day.description

      .module.margin-collapse.htmlModule
        %section#4{style: "position: absolute; height: 280px;"}
      .module.margin-collapse.divider-divider-variable.divider-variable{style: 'height: 30px;'}
      - if @tour.hotels.present?
        .module.margin-collapse.border.bar
          %h3.h2 Проживание
          %hr/
        .module.divider-divider-variable.divider-variable{style: 'height: 9px;'}
        - @tour.days_in_hotels.each do |day_in_hotels|
          %article.module.margin-collapse.intro.image-text.image-text-medium.medium.alignleft.clear
            - if day_in_hotels.hotel.present?
              %div{style: 'width: 220px;'}
                - day_in_hotels.hotel.images.each do |image|
                  = image_tag image.uploaded_file(:travel_day_image)
              %h3.h2
                = day_in_hotels.hotel.title
                - if day_in_hotels.hotel.stars.present?
                  = "#{day_in_hotels.hotel.stars}*"
                - if @tour.show_hotels_with_date && day_in_hotels.days.present?
                  = "- #{ day_in_hotels.days }"
              = raw day_in_hotels.hotel.description

              = raw day_in_hotels.html_content.content if day_in_hotels.html_content.present?
          %p.small{style: 'height: 30px;'}
        - if @tour.hotels_remark.present?
          .module.display
            %h3{style: 'font-size: 1.125em;'}
              = @tour.hotels_remark
      .module.htmlModule
        %section#5{style: "position: absolute; height: 740px;"}
      .module.margin-collapse.border.bar
        %h3.h2 Даты/Цены
        %hr/
      .module.divider-divider-variable.divider-variable{style: 'height: 15px;'}
      %article.module.doubleText.columns.clear
        .column.column-50
          %h3.h2.text-left Стоимость:
          %p
            %span{style: 'color:#000000;font-size:14px;'}
              = raw @tour.price_description


        .column.column-50.last
          %h3.h2.text-left Даты:
          - @tour.departures.each do |departure|
            %h3
              %span{style: 'color:#000000;font-size:14px;'}
                %strong
                  = "Даты путешествия из города #{departure.from.capitalize}"
            %ul
              - if departure.travel_groups.present?
                - departure.travel_groups.each do |travel_group|
                  %li
                    %span{style: 'color:#000000;font-size: 14px; line-height: 22.3999996185303px;'}
                      - if travel_group.start_date.to_date >= Date.today
                        = "#{l travel_group.start_date.to_date, format: '%d %B'} - #{l travel_group.finish_date.to_date, format: '%d %B'}"
          %p
            %span{style: 'color:#000000;font-size: 14px;'}
              = raw @tour.days_remark
          %p
            %span{style: 'color:#000000;font-size: 14px;'}
              = 'Для уточнения доступных дат и деталей путешествия свяжитесь с нами по телефону'
              = @about.phone

      %article.module.margin-collapse.doubleText.columns.clear
        .column.column-50
          %h3.h2.text-left Что включено:
          %ul
            - @tour.price_includes.each do |include|
              %li
                %span{style: 'color:#000000;font-size:14px;'}
                  = include.title
        .column.column-50.last
          %h3.h2.text-left Оплачивается дополнительно:
          %ul
            - @tour.price_not_includes.each do |not_include|
              %li
                %span{style: 'color:#000000;font-size:14px;'}
                  = not_include.title
      .module.htmlModule
        %section#6{style: "position: absolute; height: 1100px;"}
      .module.margin-collapse.border.bar
        %h3.h2 FAQ
        %hr/
      .module.divider-divider-variable.divider-variable{style: 'height: 9px;'}
      %article.module.doubleText.columns.clear
        - @tour.faqs.order_by(created_at: :asc).each_with_index do |faq, index|
          .column.column-50{class: "#{'last' if (index+1).even?}"}
            %h3.h2.text-left
              = faq.title
            %p
              %span{style: 'color:#000000;font-size:14px;'}
                = raw faq.description
      .module.divider-divider-variable.divider-variable{style: 'height: 9px;'}
      .module.htmlModule
        %section#7{style: "position: absolute; height: 500px;"}
      #contentArea_5_-module_59_.module.formbuilder.normal
        :css
          .green {
            color: lightgreen !important;
          }
        %h3.h2#new_order Забронировать тур
        %p
          %span{style: 'color:#000000;font-size:14px;'}
            = "«#{@tour.name}»:"
        = render 'dashboard/orders/form_remote', tour: @tour
