#configs_form
  = form_for [:dashboard, @config] do |f|
    - if @config.errors.any?
      .alert.alert-block.alert-danger
        %strong Внимание!
        - @config.errors.messages.each_with_index do |error, index|
          = "#{index+1}) #{error[1].join}"
          %br
    .col-md-4.form-group{style: 'max-height: 180px; overflow: hidden;'}
      = image_tag @config.logo(:preview), width: 400
    .col-md-4.form-group
      = f.label 'Логотип сайта'
      = f.file_field :logo
      %span.help-block{style: 'font-style: italic;font-size: small;'}
        = 'Выберите новой логотип, если хотите изменить уже существующий.'
      %br
      - if action_name == 'edit'
        %p
          %label
            = hidden_field_tag 'remove_image', 'false'
            = check_box_tag 'remove_image', true
            Сбросить логотип
          %span.help-block{style: 'font-style: italic;font-size: small;'}
            = 'Поставьте галку и сохраните для сброса на стандартное изображение'
    .col-md-4
      .form-group
        = f.label 'Отображать цены в:'
        = f.collection_select :currency_id, Currency.all, :id, :abbr,
                                  { selected: f.object.currency_id }, class: 'form-control'
      .form-group
        .onoffswitch
          = f.check_box :facebook_enabled, class: 'page_enabled_checkbox onoffswitch-checkbox', id: 'onoffswitch'
          %label.onoffswitch-label{for: 'onoffswitch'}
            %span.onoffswitch-inner.default
            %span.onoffswitch-switch
        = f.label :facebook_enabled, 'Facebook ссылка включена', class: 'the_label'
      .form-group
        .onoffswitch
          = f.check_box :subscribe_enabled, class: 'page_enabled_checkbox onoffswitch-checkbox', id: 'onoffswitch1'
          %label.onoffswitch-label{for: 'onoffswitch1'}
            %span.onoffswitch-inner.default
            %span.onoffswitch-switch
        = f.label :subscribe_enabled, 'Подписка включена', class: 'the_label'
    .col-md-12.form-group
      = f.submit 'Сохранить настройки!', class: 'btn btn-info'
:css
  #configs_form .onoffswitch-label {
    float: left;
  }

  #configs_form .the_label {
    padding: 7px;
  }